**/test.m
**/*.asv

alxe/orig/
calibration/email_sent/
calibration/**/*.mat
calibration/rainflow/other/*.xlsx
calibration/ncode/
*.eps
one2one/new2/BadExample/
one2one/axle/cali/*.mat
one2one/axle/tests/testdata.mat
